@page "/stock"

<PageTitle>Home</PageTitle>

<h1>List of stocks</h1>

@foreach (var item in infos)
{
    <p>
        @item
    </p>   
}

<h1>Add stock</h1>
<p>Stock name:</p>
<InputText @bind-Value="tickerName"/>
<p></p>
<button class="btn btn-primary" >Add stock</button>

<h1>Modify stock</h1>

<h1>Remove stock</h1>

@code {

    string tickerName = "";

    int givenRank = 0;

    List<StockInfo> infos = [];
    string data = "";
    string filename = "Components/Pages/stocks.json";

    public void ReadFile()
    {
        if (!File.Exists(filename))
        {
            Console.WriteLine("File was not found.");
        }
        else
        {
            data = File.ReadAllText("Components/Pages/stocks.json");
            infos = JsonSerializer.Deserialize<List<StockInfo>>(data)!;
            OrderStocks(ref infos);
        }

    }

    protected override void OnInitialized()
    {
        //ReadFile();
    }

    public void OrderStocks(ref List<StockInfo> infos)
    {
        IEnumerable<StockInfo> showInfos = from info in infos orderby info.Rank ascending select info;
        infos = showInfos.ToList();
    }

    public void AddStock()
        {
            int rank = infos.Count;
            Console.WriteLine(tickerName);
            StockInfo info = new StockInfo(tickerName, rank);
            infos.Add(info);
            string fileData = JsonSerializer.Serialize(infos);
            File.WriteAllText("Components/Pages/stocks.json", fileData);
            Console.WriteLine("Stock was saved");
        }

    public static void DeleteStock(ref List<StockInfo> infos, string TickerName)
        {
            infos.RemoveAll(info => info.Ticker == TickerName);
            string fileData = JsonSerializer.Serialize(infos);
            File.WriteAllText("Components/Pages/stocks.json", fileData);
        }

    public void ModifyStock(ref List<StockInfo> infos)
        {
            StockInfo selectedInfo = infos.Where(info => info.Ticker == tickerName).FirstOrDefault()!;
            foreach (var info in infos.Where(info => info.Rank == givenRank))
            {
                info.Rank = selectedInfo.Rank;
            }
            selectedInfo.Rank = givenRank;

            string fileData = JsonSerializer.Serialize(infos);
            File.WriteAllText("Components/Pages/stocks.json", fileData);
        }

}
